<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой Кликер</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Мой Супер Кликер</h1>
        </header>

        <main>
            <section id="game-area">
                <form method="post"><button id="click-button">Улучшить</button></form>
                <p id="money">Счет: {{ money }}</p>
                <p id="cost">Цена: {{ cost }}</p>
            </section>

            <section id="links">
                <a href="/"><h2>Домой</h2></a>
            </section>
        </main>

        <footer>
            <p>&copy; 2025 Мой Кликер</p>
        </footer>
    </div>
</body>
</html>

